<h1 class="main_header"></h1><br>
<p class="time"><%= Time.now.strftime("%B %d,%Y") %></p>

<%= link_to new_friend_path, "data-toggle" => "modal", "data-target" => "#myModal" do %><i class="material-icons add">add_circle</i><% end %>
<div class="info-list">
	
	<% now = Time.now %>

	<% @friends.each do |friend| %>
	
	<% if [now.month, now.day] == [friend.dob.month, friend.dob.day] %>

	<div id="bday-container">
	<div class="bday-controller">
	<div class="birthday-info">

		<h2 class="card-title"><%= link_to(friend.name, friend) %></h2>
		<p id="bday-highlight">TODAY is <%= friend.name %>'s BIRTHDAY! Don't forget to wish them a happy birthday 🎂</p>
			<h4 class="friend-dob"><%= friend.dob %></h4>
			<p class="friend-note"><%= friend.notes %></p>
	</div>
	</div>
</div>
<% else %>
	<div class="friend-container">
	<div class="friend-info">
		<h2 class="card-title"><%= link_to(friend.name, friend) %></h2>
			<h4 class="friend-dob"><%= friend.dob %></h4>
			<p class="friend-note"><%= friend.notes %></p>
	</div>
	</div>
<% end %>
	<% end %>
</div>




<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        
      </div>
    </div>

  </div>
</div>