<div class="show">
    <div class="show-friend-info">
        <div class="show-card-title">
            <h2 id="name"><%= @friend.name %></h2>
            <h4><%= @friend.dob %></h4>
            <p><%= @friend.notes %></p>
            <% @inspos.each do |inspo| %>
    <div class="show-image">
        <%= image_tag inspo.image %>
    </div>
<% end %>
        
        
        <div class="card-footer">
    
            <div class="footer-buttons">
                <%= button_to "Edit", edit_friend_path(@friend, :class => "pop-button") %>
                <%= button_to "Remove", @friend, :method => :delete %>
                </div>
            </div>
        </div>
    </div>
</div>

