<div class="search-container">
<div class='results-controller'>
<div class="search-form">
<h1 id='search-more'>Search More</h1>
<div class="results">
<%= form_for :search, url: search_inspos_path, class: 'results-form' do |f| %>
  <%= f.text_field :term %>
  <%= f.submit "search" %>
<% end %>
</div>
<% @results.each do |result| %>
<div class='result-images'>
  <%= image_tag result[:image] %>
  <%= form_for :inspo, url: inspos_path do |f| %>
    <%= f.hidden_field :image, value: result[:image] %>

<%= f.select(:friend_id) do %>
  <% Friend.all.each do |c| -%>
    <%= content_tag(:option, c.name, value: c.id) %>
  <% end %>
<% end %>
    <%= f.submit "Save Image" %>
  <% end %>
</div>
<% end %>
</div>
</div>
</div>