<!DOCTYPE html>
<html>
  <head>
    <title>EventMe</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<nav>
  	<% if @logged_in %>
   
    <div class="nav-header" id="main-header">
    <h1 class="main-title">Event Me</h1>
  		<div class="nav-links-main">
  			<%= link_to("Friends List", friends_path) %>
  			<%= link_to("Add Friends", new_friend_path) %>
        <%= link_to("Inspo Board", inspos_path) %>
        <%= link_to search_inspos_path, class: 'search-icon' do %>
  			Get Inspired<i class="material-icons">search</i>
        <% end %>
        <%= link_to("Logout", logout_path, :method => "delete") %> 
  		</div>

    </div>
  	<% else %>
  	<div class="nav-header">
  			<p id="nav-name">EVENT ME</p>
  			<div class="nav-links">
        <div id="log">
          <%= link_to("Log In", login_path) %>
        </div>
        <div id="sign">
          <%= link_to("Sign Up", signup_path) %>
        </div>
         </div>
  	</div>
  <div class="landing"><%= image_tag "conf-gif.gif" %><%= image_tag "conf-gif.gif" %>
		<div class="landing_text">
		<h2 class="landing_header">Never forget an Event!</h2>
   </div>
	 <% end %>
	</nav>
    <%= yield %>
  </body>
</html>
